*,
*::before,
*::after {
  box-sizing: border-box;
  width: 100%;
  border: solid white 10px;
  padding: 5px;
}


#parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  height: 100vh;
  width: 100vw;
}

.gallery-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0;
  width: 484px;
  height: 670px;
  position: relative;
  justify-content: center;
  justify-items: center;
  /* transform: translateX(18rem) translateY(7rem); */
}

.ghibli-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.film-cover {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
  box-shadow: 0.25em 0.25em .75em rgba(0, 0, 0, .75);
}

.film-cover>img {
  display: flex;
  flex-direction: column;
  justify-content: top;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  object-position: center;
}

.active {
  display: block;
  opacity: 1;
  transition-delay: 0ms;
}

.arrow {
  position: relative;
  z-index: 2;
  width: 8%;
  height: 20%;
  background: none;
  border: none;
  font-size: 4rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(250, 250, 250, .5);
  cursor: pointer;
  border-radius: .25rem;
  padding: 0 .5rem;
  background-color: rgba(0, 0, 0, .1);
}

.arrow:hover,
.arrow:focus {
  color: white;
  background-color: rgba(0, 0, 0, .2)
}

.arrow-button:focus {
  outline: 1px solid black;
}

#prev {
  left: -1rem;
  transform: translateY(-30%)
}

#next {
  right: -25.35rem;
  transform: translateY(-30%)
}

